{% block head %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- html2pdf CDN link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.min.js"></script>
<script src="
			https://cdn.jsdelivr.net/npm/filesaver.js@1.3.4/FileSaver.min.js
			"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="invoice">
    <div id="tekst_sverhu_kartinki">

        <img id="sertPng" src="{{ url_for('static', filename='img/обычный.png') }}">

        <div class="fi">{{name1}} {{name2}}</div> <!--Заполняется из excel -->
        <div class="thName">{{patronymic}}</div> <!--Заполняется из excel -->
        <div class="textDate"></div>
        <div class="textStand">Успешно прошёл(-ла) обучение по дополнительной общеобразовательной общеразвивающей
            программе
        </div> <!--Заполняется из excel -->
        <div class="textKvant">Проектная смена "Фестиваль короткометражного кино"</div> <!--Заполняется из excel -->
        <div class="textModul"></div> <!--Заполняется из excel -->
        <div class="time">Объём часов - 136ч</div><!--Заполняется из excel -->
        <div class="numb">№XXXX/2023</div> <!--Заполняется из excel -->
    </div>
</div>

{% endblock %}